In [ ]:
from horgues3.database import create_database_engine
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

In [ ]:
engine = create_database_engine('pckeiba')

In [ ]:
# 単勝/複勝

with engine.connect() as conn:
    conn.execute(
        text("""delete from apd_tohyo_settei""")
    )
    conn.commit()
    
shikibetsu_kubun = 1
shisu_no_1 = 1

with engine.connect() as conn:
    tohyo_no = 0

    for shisu_min_1 in [0.1, 0.2, 0.3, 0.4, 0.5]:
        for juni_max_1 in [1, 18]:
            for odds_min in (1.1 * 10 ** np.linspace(0, 1, 10)).tolist():

                tohyo_no += 1
                tohyo_name = f"{shisu_min_1}_{juni_max_1}_{odds_min}"
                
                conn.execute(
                    text("""INSERT INTO apd_tohyo_settei (
                                tohyo_no, tohyo_name, shikibetsu_kubun, hoshiki_kubun,
                                shisu_no_1, shisu_min_1, shisu_max_1, juni_min_1, juni_max_1,
                                odds_min, odds_max, ninkijun_min, ninkijun_max, 
                                shikin_haibun_kubun, kingaku_kubun, kingaku, check_box1
                            ) VALUES (
                                :tohyo_no, :tohyo_name, :shikibetsu_kubun, 0,
                                :shisu_no_1, :shisu_min_1, 999999.99, 1, :juni_max_1,
                                :odds_min, 999999.9, 1, 4896,
                                1, 1, 1, 1
                            )"""),
                    {'tohyo_no': tohyo_no, 'tohyo_name': tohyo_name, 'shikibetsu_kubun': shikibetsu_kubun,
                     'shisu_no_1': shisu_no_1, 'shisu_min_1': shisu_min_1, 'juni_max_1': juni_max_1,
                     'odds_min': odds_min} 
                )
    
    conn.commit()

In [ ]:
# ボックス

with engine.connect() as conn:
    conn.execute(
        text("""delete from apd_tohyo_settei""")
    )
    conn.commit()
    
shikibetsu_kubun = 4
shisu_no_1 = 2

with engine.connect() as conn:
    tohyo_no = 0

    for shisu_min_1 in [0.1, 0.2, 0.3, 0.4, 0.5]:
        for juni_max_1 in [2, 18]:
            for odds_min in (2 * 10 ** np.linspace(0, 1, 10)).tolist():

                tohyo_no += 1
                tohyo_name = f"{shisu_min_1}_{juni_max_1}_{odds_min}"
                
                conn.execute(
                    text("""INSERT INTO apd_tohyo_settei (
                                tohyo_no, tohyo_name, shikibetsu_kubun, hoshiki_kubun,
                                shisu_no_1, shisu_min_1, shisu_max_1, juni_min_1, juni_max_1,
                                odds_min, odds_max, ninkijun_min, ninkijun_max, 
                                shikin_haibun_kubun, kingaku_kubun, kingaku, check_box1
                            ) VALUES (
                                :tohyo_no, :tohyo_name, :shikibetsu_kubun, 1,
                                :shisu_no_1, :shisu_min_1, 999999.99, 1, :juni_max_1,
                                :odds_min, 999999.9, 1, 4896,
                                1, 1, 1, 1
                            )"""),
                    {'tohyo_no': tohyo_no, 'tohyo_name': tohyo_name, 'shikibetsu_kubun': shikibetsu_kubun,
                     'shisu_no_1': shisu_no_1, 'shisu_min_1': shisu_min_1, 'juni_max_1': juni_max_1,
                     'odds_min': odds_min} 
                )
    
    conn.commit()

In [ ]:
# フォーメーション2頭

with engine.connect() as conn:
    conn.execute(
        text("""delete from apd_tohyo_settei""")
    )
    conn.commit()
    
shikibetsu_kubun = 5
shisu_no_1 = 3
shisu_no_2 = 3

with engine.connect() as conn:
    tohyo_no = 0

    for shisu_min_1 in [0.5, 0.4, 0.3, 0.2]:
        for shisu_min_2 in [0.4, 0.3, 0.2, 0.1]:
            if shisu_min_1 < shisu_min_2:
                continue
            for juni_max_1 in [1, 2, 3, 18]:
                for juni_max_2 in [2, 3, 18]:
                    if juni_max_1 > juni_max_2:
                        continue
                    for odds_min in (1.5 * 20 ** np.linspace(0, 1, 5)).tolist():

                        tohyo_no += 1
                        tohyo_name = f"{shisu_min_1}_{shisu_min_2}_{juni_max_1}_{juni_max_2}_{odds_min}"
                        
                        conn.execute(
                            text("""INSERT INTO apd_tohyo_settei (
                                        tohyo_no, tohyo_name, shikibetsu_kubun, hoshiki_kubun,
                                        shisu_no_1, shisu_min_1, shisu_max_1, juni_min_1, juni_max_1,
                                        shisu_no_2, shisu_min_2, shisu_max_2, juni_min_2, juni_max_2,
                                        shisu_gokei_min, shisu_gokei_max,
                                        odds_min, odds_max, ninkijun_min, ninkijun_max, 
                                        shikin_haibun_kubun, kingaku_kubun, kingaku, check_box1
                                    ) VALUES (
                                        :tohyo_no, :tohyo_name, :shikibetsu_kubun, 2,
                                        :shisu_no_1, :shisu_min_1, 999999.99, 1, :juni_max_1,
                                        :shisu_no_2, :shisu_min_2, 999999.99, 1, :juni_max_2,
                                        0, 9999999.99,
                                        :odds_min, 999999.9, 1, 4896,
                                        1, 1, 1, 1
                                    )"""),
                            {'tohyo_no': tohyo_no, 'tohyo_name': tohyo_name, 'shikibetsu_kubun': shikibetsu_kubun,
                             'shisu_no_1': shisu_no_1, 'shisu_min_1': shisu_min_1, 'juni_max_1': juni_max_1,
                             'shisu_no_2': shisu_no_2, 'shisu_min_2': shisu_min_2, 'juni_max_2': juni_max_2,
                             'odds_min': odds_min} 
                        )
    
    conn.commit()

In [ ]:
# フォーメーション3頭

In [ ]:
# 結果の削除

with engine.connect() as conn:
    conn.execute(
        text("""delete from apd_kaime_sim_1""")
    )
    conn.execute(
        text("""delete from apd_kaime_sim_2""")
    )
    conn.commit()

In [ ]:
# 結果

df = pd.read_sql(
    text("""
            select 
                ts.tohyo_no 投票No,
                ts.tohyo_name 投票名,
                sum(s2.tohyo_maisu) 投票枚数,
                sum(s2.tekichu_flag::numeric * s2.tohyo_maisu) 的中枚数,
                avg(tekichu_flag::numeric) 的中率,
                sum(s2.tohyo_maisu * 100) 投票金額,
                sum(s2.haraimodoshi) 払戻金額,
                sum(s2.haraimodoshi) / sum(s2.tohyo_maisu * 100) 回収率,              
                sum(s2.haraimodoshi) - sum(s2.tohyo_maisu * 100) 損益
            from apd_kaime_sim_2 s2
            inner join apd_tohyo_settei ts
                on s2.tohyo_no = ts.tohyo_no
            group by ts.tohyo_no, ts.tohyo_name
            order by 損益 desc, 的中枚数 desc
    """),
    engine, params={}
)

df.style